HELP.md
.gradle
build/
!gradle_/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

*.jar
.DS_Store

thought-space-rest-api/settings.gradle.kts
thought-space-rest-api/gradle/wrapper/gradle-wrapper.jar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


# Ignore Gradle build output directory
build
/build.gradle.kts
**/build/
